rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. भक्तों के योगदान के लिए
    match /pendingPosts/{docId} {
      allow read: if true; 
      // कोई भी यूज़र (Anonymous) सिर्फ नई पोस्ट भेज सकता है
      allow create: if request.auth != null; 
      // डिलीट और अपडेट सिर्फ एडमिन करेगा
      allow update, delete: if request.auth != null && request.auth.uid == 'R79TWeBp8eaDYtSZtakRwobXWmu2';
    }
    
    // 2. बाकी सभी डेटा (शबद, भजन, सेटिंग्स आदि)
    match /{document=**} {
      allow read: if true; 
      // सिर्फ और सिर्फ एडमिन ही डेटा डाल/हटा/बदल सकता है
      allow write: if request.auth != null && request.auth.uid == 'R79TWeBp8eaDYtSZtakRwobXWmu2'; 
    }
  }
}
