rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 1. कोई भी पढ़ और सुन सकता है
      allow read: if true; 
      
      // 2. नई फाइल अपलोड (Create/Update) करने के लिए कड़े नियम (साइज़ और टाइप चेक):
      allow create, update: if request.auth != null 
                   && request.resource.size < 5 * 1024 * 1024 
                   && (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('audio/.*'));
                   
      // 3. फाइल डिलीट करने का नियम (एडमिन/लॉगिन यूज़र के लिए):
      allow delete: if request.auth != null;
    }
  }
}
